---
import Layout from "../layout/layout.astro";

export function getStaticPaths() {
    const paths =  Object.entries(import.meta.glob("../../content/**/*.mdx", { eager: true })).map((entry : [string, any]) => {
        
        let match = entry[0].match(/([0-9\.]+).md/)
        let path = "0"
        if (match) {
            path = match[1]
        }

        return {
            params : {
                chapter : path
            },
            props : {
                section : path,
                title : entry[1].frontmatter.title,
                content : entry[1]
            }
        }
    })

    return paths
}

const Content = Astro.props.content
const title = Astro.props.title
const section = Astro.props.section
---
<Layout section={section}>
    <div class="article-title">
        <h1 class="section">{section}</h1>
        <h1 class="title">{title}</h1>
    </div>
    <Content.default></Content.default>
</Layout>