:root {
    /* light theme */
    --foreground-light: #faf6e3;
	--background-light: #e5dece;
    --border-light: #8d8981;
    --accent-low-light: #ffe4a5;
    --accent-high-light: #b57614;

    --text-light: #000000;
    --muted-light: #ffffff;
    --links-light: #79b09f;

    --shadow-intensity-light: #0000000e;

    /* dark theme */
    --foreground-dark: rgb(30, 30, 30);
	--background-dark: rgb(22, 21, 21);
    --border-dark: rgb(83, 83, 83);
    --accent-low-dark: #ffe4a5;
    --accent-high-dark: #d79921;

    --text-dark: #ffffff;
    --muted-dark: rgb(107, 106, 104);
    --links-dark: #79b09f;

    --shadow-intensity-dark: #00000068;

    /* text */
    --title-font: "Inter";
    --title-size: 1rem;
    --title-weight: 600;

    --sidebar-font: "Inter";
    --sidebar-size: 0.925rem;
    --sidebar-weight: 400;

    --paragraph-font: "Inter";
    --paragraph-size: 1rem;
    --paragraph-weight: 360;

    --code-font: "JetBrains Mono";
    --code-size: 0.875rem;
    --code-weight: 400;

    /* layout */
    

    /* animation */
    --transition-time: 0.9s;
}