---
// god help me

import { getCollection } from "astro:content"

class Searchable {
    content : string
    
    constructor(content : string) {
        this.content = content
    }
}

let searchables : Searchable[] = [];

(await getCollection('textbook')).map((page) => {
    searchables.push(new Searchable(page.body!))
})
---

<script define:vars={{searchables}}>

    class SearchResult {

    constructor(content, searchstring, range) {
            this.pos = content.indexOf(searchstring)

            if (this.pos == -1) {
                this.isEmpty = true
                this.surroundFront = ""
                this.searchString = searchstring
                this.surroundBack = ""
            } else {
                this.isEmpty = false
                this.searchString = searchstring

                this.surroundFront = content.substring(Math.max(this.pos - range, 0), this.pos)
                this.surroundBack = content.substring(this.pos + searchstring.length, Math.min(this.pos + searchstring.length + range, content.length - 1))
            }
        }
    }

    let textbox = document.querySelector("input#search-textbox")
    let mostRecentTimeout;
    textbox.addEventListener("input", (event) => {
        clearTimeout(mostRecentTimeout)
        mostRecentTimeout = setTimeout(() => {

            searchables.forEach((searchable) => {
                let result = new SearchResult(searchable.content, textbox.value, 20)
                console.log(result)
            });
        }, 300)
    })
</script>

<div id="search">
    <input id="search-textbox" type="text" placeholder="Search...">
</div>

<style>
    div#search {
		padding: 0.25rem;
		border: 1px solid light-dark(var(--border-light), var(--border-dark));
		border-radius: 0.5rem;

		width: 20vw;
		display: block;

        input {
            background: none;
            border: 0;

            width: 100%;
        }
	}

    @media only screen and (max-width: 740px) {
		div#search {
			display: none !important;
		}
    }
</style>